.container {
    background-color: dimgray;
    padding: 10px 50px
}

.container-opciones {
    display: flex;
    flex-direction: row-reverse;
}

.container-opciones__button {
    background-color: ghostwhite;
    color: black;
    padding: 7px;
    text-decoration: none;
    margin: 2px
}


.container-opciones__button:hover {
    color: #1883ba;
    background-color: darkgray;
}

